<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ADOconnection" connectionString="Data Source=NB21-6CDPYD3\SQLEXPRESS;Initial Catalog=AdresbeheerADO;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"/>
		<add name="EFconnection" connectionString="Data Source=NB21-6CDPYD3\SQLEXPRESS;Initial Catalog=AdresbeheerEF;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"/>
	</connectionStrings>
	<appSettings>
		<add key="DataLayer" value="EFCore"/>
	</appSettings>
</configuration>